body {
  font-family: 'Open Sans', sans-serif;
}
.head {
  background-color: #1b1b6c;
  color: white;
  padding: 1% 5%;
  font-size: 2.5vw;
  height: 6vh;
}
.head p{
  margin-top: 0%;
}
.hellow {
  padding: 4% 10%;
  background-color: #13124f;
  color: white;
  height: 35vh;
}
.hellow h1 {
  font-size: 4vw;
}
.hellow p {
  margin-top: -2%;
}
.learn {
  margin-top: 3%;
  width: 12%;
  height: auto;
  padding: 0.5% 2%;
  font-size: 1em;
  background-color: #F61067;
  color: white;
}
.all {
  display: flex;
  gap: 3%;
  padding-left: 5%;
}
.left, .right {
  width: 48%;
  box-sizing: border-box;
}
.grey {
  background-color: #9090a5;
  color: white;
  font-size: 0.9em;
  height: auto;
  padding-left: 2%;
  margin-top: 2%;
}
.grey p {
  padding-top: 0.5%;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  padding-right: 3%;
}
.right iframe {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
}
.messages {
  background-color: #F61067;
  color: white;
  height: auto;
  margin-top: 2%;
  text-align: center;
  width: 85%;
}
.messages p {
  padding: 1% 5%;
  font-size: 0.8em;
}
.welcomec {
  background-color: #13124f;
  color: white;
  font-size: 1em;
  margin-top: 1%;
  width: 85%;
}
.welcomec h6 {
  background-color: #9090A5;
  color: white;
  padding: 1% 2%;
  margin-top: 0%;
}
.welcomec p {
  padding: 1% 2%;
  font-size: 0.9em;
  margin-top: -0.5%;
}
.input {
  background-color: #1b1b6c;
  color: grey;
  margin: 5% 0;
  width: 92%;
  margin-left: 3%;
}
.input p {
  padding: 1% 2%;
}
.send {
  width: 88%;
  background-color: #F61067;
  color: white;
  padding: 1% 2%;
  margin-left: 3%;
  margin-bottom: 5%;
  text-align: center;
  height: 10%;
}
.idont {
  background-color: #352ba5;
  color: white;
  font-size: 0.9em;
  padding: 1% 2%;
  text-align: center;
  height: 9%;
  margin-bottom: 0%;
}
.idont small{
  padding-left: 5%;
}
.votec {
  background-color: white;
  padding: 2%;
  border: 1px solid rgb(254, 253, 253);
}
.voteb {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.voteb button {
  flex: 1;
  margin: 0.5%;
  padding: 1%;
}
.voteb .cool {
  color: white;
  background: #F61067;
}
.voteb .lame {
  border: 0.2% solid #2ad392;
  color: #2ad392;
  background: none;
}
footer {
  background-color: #13124f;
  color: white;
  text-align: center;
  font-size: 0.9em;
  padding: 1% 0;
  margin-top: 3%;
}
@media (max-width: 600px) {
  .all {
    flex-direction: column;
    padding-left: 3%;
  }

  .left, .right {
    width: 100%;
  }

  .right iframe {
    width: 90%;
    max-width: 90%;
  }

  .hellow h1 {
    font-size: 8vw;
  }

  .learn {
    width: 40%;
  }
}